#meals {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}
.error-container {
  background-color: #1d1a16;
}

.search-container {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #312c1d;
  padding: 0.5rem;
  gap: 0.5rem;
}

.search-container input {
  text-align: center;
  font-size: large;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffc404;
}
